<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
      <%= image_tag @listing.image.url, class: "img-thumbnail" %>  
  </div>
  <div class="col-md-4">
    <h3><%= @listing.name %></h3>
    <p><%= number_to_currency(@listing.price) %></p>
    <h4>Subject: <%= @listing.category.name %></h4>
    <p>
      <h4 class="avg-rating">Average Rating</h4>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews">
        <em>From: </em><%= @listing.reviews.count %> reviews 
      </span>
    </p>
    <p><%= @listing.description %></p>
    <br>
    <div class="center">
      <%= link_to "Buy It Now", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
    </div>   
  </div>
</div>

<% if (user_signed_in?) && (current_user == @listing.user) %>
 	<%= link_to 'Edit', edit_listing_path(@listing) %> |
	<%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', listings_path %> 

<div class="row">
  <div class="col-md-12">
    <div class="reviews">
      <h1> Reviews</h1>
      <%= render @listing.reviews %>
      <%= link_to 'Add Reviews', new_listing_review_path(@listing), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
